.Rating {
   button {
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 0;
   }

   .on {
      color: var(--accent-color);
   }

   .off {
      color: var(--inactive-color);
   }
}
