button[type="submit"] {
   background-color: var(--primary);
   color: var(--btn-textColor);
   padding: 14px;
   border: 0;
   border-radius: 4px;
   cursor: pointer;
   font-size: inherit;
   margin-top: 1em;
}

button[type="submit"]:focus {
   outline: auto;
}

button[type="submit"]:hover {
   background-color: var(--primary-darken);
}
