.form {
   background-color: var(--secondary-bgColor);
   max-width: 370px;
   border: 1px solid var(--border-color);
   display: flex;
   flex-direction: column;
   padding: 50px 30px;
   border-radius: 4px;
   margin: auto;
}

.form > h2,
.form > h3 {
   margin-top: 0;
}

.form.wide {
   max-width: 520px;
}

label {
   display: block;
   margin-bottom: var(--spacing-sm);
   font-weight: 700;
   color: var(--label-textColor);
}

@media screen and (max-width: 550px) {
   .form {
      background-color: transparent;
      border: 0;
      padding: 0;
      max-width: 100%;
   }
}
