.formGroup {
   position: relative;
   margin-bottom: var(--spacing-md);
   display: flex;
   flex-direction: column;
   width: 100%;
}

.mb {
   margin-bottom: var(--spacing-md);
}

.nomargin {
   margin: 0;
}

.flex {
   display: flex;
}

.fullWidth {
   width: 100%;
}

.full-height {
   min-height: 100%;
}

.border-bottom {
   border-bottom: 1px solid var(--transparent-grey);
   padding-bottom: 0.2em;
   margin-bottom: 0.2em;
}
