.wrapper {
   display: flex;
   flex-direction: column;
}

.wrappedWidth {
   max-width: var(--tablet);
   margin: auto;
}

.formGroup {
   position: relative;
   margin-bottom: var(--spacing-md);
   display: flex;
   flex-direction: column;
   width: 100%;
}

label {
   display: block;
   margin-bottom: var(--spacing-sm);
   font-weight: 700;
}

svg {
   fill: var(--icon-fillColor);
}

.mb {
   margin-bottom: var(--spacing-md);
}

.flex {
   display: flex;
}

.fullWidth {
   width: 100%;
}

.full-height {
   min-height: 100%;
}

.border-bottom {
   border-bottom: 1px solid var(--transparent-grey);
   padding-bottom: 0.2em;
   margin-bottom: 0.2em;
}

/* Testing classes */
.test {
   background-color: rgb(250, 221, 240);
   color: rgb(255, 0, 13);
   padding: 0 0.5em;
}

.test-border {
   border: 2px dashed #134b1c;
}
