:root {
   --black: #060606;
   --white: #ffffff;
   --lightRed: #ff5050;
   --darkRed: #270101;
   --darkBlue: #000065;
   --darkerBlue: #000040;
   --lightBlue: #d7d6f6;
   --lightPurple: #e5eeff;
   --transparent-grey: rgba(153, 151, 151, 0.3);
   --darkYellow: #ffeb3b;
   --myRed: #ff2929;
   --lightGrey: #f1f1f1;
   --darkGrey: #171717;
   --orange: #f4d6a0;
   --purple: #c18ac1;
   --testing-bgColor: #28282d;
   --twBlue: #3029db;
}
:root .light {
   --primary-bgColor: #ffffff;
   --primary-textColor: rgb(0, 0, 0);
   --secondary-bgColor: #f0f1f4;
   --paper-bgColor: #e4e4ef;
   --error-textColor: var(--lightRed);
   --error-bgColor: var(--darkRed);
   --primary: var(--darkBlue);
   --primary-darken: var(--darkerBlue);
   --btn-textColor: var(--lightBlue);
   --border-color: var(--transparent-grey);
   --input-bgColor: var(--secondary-bgColor);
   --input-textColor: var(--black);
   --input-placeholder-textColor: #7c7979;
   --heading-textColor: var(--myRed);
   --link-textColor: #1400e4;
   --icon-fillColor: var(--black);
   --accent-color: #ffc600;
   --inactive-color: #d5d5d5;
   --navLink-color: #4b59fa;
   --navLink-hover-color: #121a71;
   --label-textColor: rgb(112 6 243);
}

:root .dark {
   --primary-bgColor: #1a1a1a;
   --primary-textColor: #d7dac0;
   --secondary-bgColor: #2c2c2c;
   --paper-bgColor: var(--black);
   --error-textColor: var(--lightRed);
   --error-bgColor: var(--darkRed);
   --primary: var(--darkBlue);
   --primary-darken: var(--darkerBlue);
   --btn-textColor: var(--lightBlue);
   --border-color: var(--transparent-grey);
   --input-bgColor: #242323;
   --input-textColor: #c9e306;
   --input-placeholder-textColor: #525153;
   --heading-textColor: var(--myRed);
   --link-textColor: rgb(255 252 9);
   --icon-fillColor: rgb(24, 225, 247);
   --accent-color: #45b800;
   --inactive-color: #515454;
   --navLink-color: #ff579a;
   --navLink-hover-color: #ff15d0;
   --label-textColor: #00bbff;
}

:root .high-contrast {
   --primary-bgColor: #d4d47e;
   --primary-textColor: blue;
   --secondary-bgColor: #e761ff;
   --paper-bgColor: #e4e4ef;
   --error-textColor: var(--lightRed);
   --error-bgColor: var(--darkRed);
   --primary: var(--darkBlue);
   --primary-darken: var(--darkerBlue);
   --btn-textColor: var(--lightBlue);
   --border-color: #3c043c;
   --input-bgColor: var(--secondary-bgColor);
   --input-textColor: #2a000a;
   --input-placeholder-textColor: #e9c2f0;
   --heading-textColor: var(--myRed);
   --link-textColor: #00ffdc;
   --icon-fillColor: blue;
   --accent-color: #ff0000;
   --inactive-color: rgb(106, 85, 106);
   --navLink-color: red;
   --navLink-hover-color: #7f0404;
   --label-textColor: #001dff;
}
