:root {
   --black: #000000;
   --darkGrey: #202020;
   --white: #fafafa;
   --lightRed: #f72121;
   --darkRed: #270101;
   --darkBlue: #000065;
   --darkerBlue: #000040;
   --lightBlue: #aeafff;
   --lightPurple: #e5eeff;
   --transparent-grey: rgba(153, 151, 151, 0.673);
   --darkYellow: #ffeb3b;
}

:root {
   --primary-bgColor: var(--darkGrey);
   --primary-textColor: var(--white);
   --secondary-textColor: var(--black);
   --error-textColor: var(--lightRed);
   --error-bgColor: var(--darkRed);
   --primary: var(--darkBlue);
   --primary-darken: var(--darkerBlue);
   --btn-textColor: var(--lightBlue);
   --border-color: var(--transparent-grey);
   --input-BgColor: var(--lightPurple);
   --heading-textColor: var(--darkYellow);
}
