.ThemeSwitch {
   .row {
      display: flex;
      gap: 0.3em;
      align-items: center;
      margin-bottom: 0.5em;

      &:last-of-type {
         margin-bottom: 0;
      }
   }

   label {
      margin-bottom: 0;
      display: block;
      font-size: 11px;
      cursor: pointer;
   }

   input {
      display: block;
      margin: 0;
   }

   form {
      position: absolute;
      padding: 0.5em;
      background-color: var(--secondary-bgColor);
   }

   .switch-theme-button {
      all: unset;
      width: 30px;
      height: 30px;
      cursor: pointer;
      margin-bottom: 1em;
   }
}

@media screen and (max-width: 1000px) {
   .ThemeSwitch {
      form {
         right: 2%;
      }
   }
}
