.Filter {
   .title {
      margin-top: 0;
   }

   .filter-item {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: baseline;
   }

   label {
      margin-left: var(--spacing-sm);
      display: inline;
      font-size: var(--label-sm);
      font-weight: 400;
      margin-bottom: var(--spacing-xs);
      cursor: pointer;
   }
}
