.editor {
   border: 1px solid var(--border-color);
   background-color: var(--secondary-bgColor);

   svg,
   rect {
      fill: var(--accent-color) !important;
   }

   path,
   line {
      stroke: var(--accent-color) !important;
   }
}

.ql-picker-label .ql-active {
   color: red !important;
}
