.NavigationWrapper nav ul {
   list-style: none;
   display: flex;
   padding: 0;
   margin: 0;
}

.NavigationWrapper nav li {
   margin-right: var(--spacing-md);
}

.NavigationWrapper nav li:last-child {
   margin-right: 0;
}
