.NavButton {
   background-color: transparent;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 30px;
   height: 30px;
   border: 0;
   cursor: pointer;
}

@media screen and (min-width: 550px) {
   .NavButton {
      display: none;
   }
}

@media screen and (max-width: 550px) {
   .NavButton {
      display: block;
   }
}
